/** @format */

.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

.router-link-active {
  background-color: #ffee00;
  color: rgb(0, 0, 0) !important;
  border-left: solid 3px greenyellow;
  margin-left: -4em;
}
#sidenav {
  background-color: #d37b08;
  margin-top: 3em;
  height: 100vh;
}
#brand-custom {
  background-color: #d37b08;
}
.sidenav-icon {
  position: relative;
  top: -0.1em;
  margin-right: 1em;
  margin-left: 1em;
}
#sidenav-item-custom {
  font-size: medium;
}
#custom-side {
  color: #fff;
  /* padding: 2%; */
  /* margin: 1%; */
  margin-left: 0%;
}
.sidebar-wrapper {
  max-width: 15vw !important;
}
