<!-- @format -->

<div class="sidebar-wrapper" id="sidenav">
  <ul class="nav">
    <li class="nav-item">
      <a
        class="nav-link"
        id="custom-side"
        [routerLink]="['/dashboard']"
        routerLinkActive="router-link-active"
      >
        <p id="sidenav-item-custom">
          Dashboard
        </p>
      </a>
    </li>
    <li class="nav-item ">
      <a
        class="nav-link"
        id="custom-side"
        [routerLink]="['/rooms']"
        routerLinkActive="router-link-active"
      >
        <p id="sidenav-item-custom">
          Rooms
        </p>
      </a>
    </li>
    <li class="nav-item ">
      <a
        class="nav-link"
        id="custom-side"
        [routerLink]="['/reservation']"
        routerLinkActive="router-link-active"
      >
        <p id="sidenav-item-custom">
          Booking Request
        </p>
      </a>
    </li>
  </ul>
</div>
