/** @format */

.modal-btn {
  background-color: transparent;
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  color: white;
  font-weight: 900;
}
.modal {
  color: black;
}
.modal-dialog {
  min-width: 90vw;
}
.btn.btn-primary {
  background-color: orange !important;
}
